@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
footer  {
   
}
footer span{
    padding-top:100px;
    text-align: right;
    font-family:'Ubuntu Condensed', sans-serif;
    font-weight: 900;
    font-size:15px;
}
.copyright{
    margin-top: 100px;
    text-align: center;
    margin-right: 50px;
}